name: Model Training CICD

on:
  pull_request

permissions:
  contents: write
  pull-requests: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: iterative/setup-cml@v2

      - name: Train model
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install -r requirements.txt
          python train_model.py

          echo "## RF and LR Model Score" > report.md
          cat scores.txt >> report.md

          echo "## Confusion Matrix & Feature Importance" > report1.md
          echo '![](./ConfusionMatrix.png "ConfusionMatrix")' >> report1.md
          echo '![](./FeatureImportance.png "FeatureImportance")' >> report1.md

          cat report.md report1.md > combined_file.md
          cml comment create combined_file.md
